<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="template.css" />
<title>Sobre</title>
</head>
<body>
	<div th:replace="layout/menu :: header"></div>   
   	<div th:replace="layout/submenu :: submenu"></div>
    <p>Hilma Barrto de Farias Silva é psicóloga clínica com mais de 10 anos de experiência 
    	com em conosultório atendendo a diversos tipos de público, 
    	tanto crianças como adultos, casada e mãe de três lindos filhos dois meninos e uma menina.
    	Se especializou em psicopedagogia pela faculdade ... em 2019. Uma profissional responsável e conceituada em sua área, 
    	procurada inclusive por pessoas fora do país. Já foi convidada para realizar palestras na 
    	Primeira Igraja Batista em Jardim Paulista em parceria com a ABAPA.</p>
</nav>
</body>
</html>